<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="../static/websiteapp/style/style.css">


    <title>Guessy</title>


</head>

<body>
    
        <div class="title">

            <h1>GUESSY</h1>

        </div>

        <div class="drawline"></div>

        <div class="points">

            <span id="point-gain" style="float: left;">Alınacak Puan:</span>
            <span id="total-point">Toplam Puan: 0</span>
            <span id="max-point" style="float: right;">Maksimum Puan: 0</span>

        </div>

        <div class="images">


            <div class="hint-buttons" id="hint-buttons">

                <button id="hint-button1">
                    <span id="hint-text1">İpucu</span>
                    <img id="hint-image1" src="../media/images/magnifying_glass.png" alt="">
                </button>

                <button id="hint-button2">
                    <span id="hint-text2">İpucu</span>
                    <img id="hint-image2" src="../media/images/magnifying_glass.png" alt="">
                </button>

                <button id="hint-button3">
                    <span id="hint-text3">İpucu</span>
                    <img id="hint-image3" src="../media/images/magnifying_glass.png" alt="">
                </button>
            </div>

            <img id="image-section" src="https://placehold.co/900x500" alt="Oyun Görseli">

        </div>



        <div class="text">
            <span style="color: white">iota anonim şirketi</span>
            <br>
            <span style="color: white">IN DEVELOPMENT</span> <span id="dev-mode" style="color: white;" Geliştirici Modu
                Aktif</span>
        </div>

        <div class="buttons-and-boxes">
            <div class="indicator-nav-container">
                <button id="prev-img-btn"> ◀ </button>
                <div id="indicator-container">
                    <div class="circle" id="circle-0"></div>
                    <div class="circle" id="circle-1"></div>
                    <div class="circle" id="circle-2"></div>
                    <div class="circle" id="circle-3"></div>
                    <div class="circle" id="circle-4"></div>
                </div>
                <button id="next-img-btn"> ▶ </button>
            </div>



            <div class="game-quantity-div">
                <span id="game-quantity" style="font-size: 22px; color: white"><b>1/loading</b></span>
            </div>


            <div class="skip-guess-buttons">
                <button id="get-game-btn" role="button"><b>Skip Game</b></button>
                <button id="guess-game-btn" role="button"><b>Guess</b></button>
            </div>

            <input type="text" id="guessbox" size="30" placeholder="Search the game" list="game-names">

            <input type="text" id="devbox" size="30" placeholder="Oyun getir" list="game-names">

            <button id="dev-get-game-button">Getir</button>

            <datalist id="game-names">

            </datalist>

        </div>

        <div class="menu-div">
            <menu class="menu">
                <li id="settings">Settings</li>
                <li id="placeholder">Placeholder</li>

            </menu>
        </div>

    <footer>

    </footer>
    

</body>


<script  src="{% static 'websiteapp/script/script.js' %}"></script>

</html>